body {
  background: #000000;
  text-align: center;
  font-family: monospace;
  color: white;
}

a {
  color: white;
}

#gameRenderer {
  display: inline-block;
  border: solid 1px white;
}

#gameRenderer:focus {
  outline: none;
}

.startHidden {
  display: none;
}
