html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  margin: 0px;
}

a {
  color: black;
}

label {
  cursor: text;
}

input[type="text"] {
  resize: horizontal;
}

.container {
  position: absolute;
  top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  overflow-y: scroll;
}

.container .nameTag {
  padding: 8px;
  font-weight: bold;
  font-size: 200%;
}

.asset {
  border: 1px dashed grey;
  padding: 8px;
  margin: 8px;
  margin-top: 8px;
  min-width: 400px;
}

.asset.tainted {
  background: #FBFBFF;
}

.assetName {
  font-weight: bold;
  padding: 5px;
}

.list {
  list-style-type: none;
  margin-left: 5px;
  padding-left: 15px;
}

.list {
  border-left: 1px solid grey;
}

.asset > .list {
  border-left: none;
}

.list li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.invalid {
  background-color: #FFCFCF;
}


.navbar {
  position: fixed;
  background-color: #F8F8F8;
  border-bottom: 1px solid #AAAAAA;
  margin: 0px;
  padding: 0px;
  top: 0;
  width: 100%;
  height: 40px;
}

.navbar a {
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  padding: 0px 10px 0px 10px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  pointer-events: visible;
  cursor: pointer;
}

.navbar a:hover {
  background: #E0E0E0;
}

.navbar a:active {
  background: #D0D0D0;
}

.navbar .right {
  float: right;
}

.navbar .fix {
  color: red;
}



.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

*:focus{
  outline: none;
}
