body {
  background: #000000;
  text-align: center;
  font-family: 'VT323', monospace;
  color: white;
}

h1 {
  font-size: 600%;
  margin: 0px;
}

a {
  color: white;
}

#gameRenderer {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 30px;
  box-shadow: 0px 0px 100px 55px grey;
}

#gameRenderer:focus {
  outline: none;    /* TODO Add a pause screen for whenever gameRenderer loses focus */
}

.loadingBar {
  display: inline;
  height: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  background-color: black;
  border: 2px solid white;
  border-radius: 50px;
  padding: 0px;
}

.loadingBar .fill {
  display: block;
  margin: 0px;
  height: 100%;
  background-color: white;
  border-radius: 50px;

  transition-timing-function: ease-out;
  transition-duration: 0.5s;
}

.explanationParagraph {
  display: inline-block;
  text-align: justify;
  width: 500px;
  margin: 10px;
}

.footnote {
  margin: 10px;
  margin-top: 30px;
}
